# Titanic - Naive Bayes

Using the Titanic dataset and Bayes Theorem, I found out which of the following individuals is more likely to survive: a boy in 2nd class class, a woman in 3rd class or a man in 1st class.

In [1]:
import pandas as pd
import numpy as np

In [2]:
location = "titanic.xls"
df = pd.read_excel(location)
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [6]:
#gather all features
df_survive = df[df['survived'] == 1] #all survivors
df_boy2 = df[(df['sex'] == 'male') & (df['age'] < 18)] #boys 
df_women3 = df[(df['sex'] == 'female') & (df['age'] >= 18)] #women 
df_men1 = df[(df['sex'] == 'male') & (df['age'] >= 18)] #men  

df_2class = df[df['pclass'] == 2] #2nd class
df_3class = df[df['pclass'] == 3] #3rd class
df_1class = df[df['pclass'] == 1] #1st class

In [15]:
#probability of features

p_survive = len(df_survive) /len(df) #survivors
p_boy = len(df_boy2) /len(df) #boys
p_women = len(df_women3) / len(df) #women
p_men = len(df_men1) /len(df) #men

p_2class = len(df_2class)/len(df) #2nd class
p_3class = len(df_3class)/len(df) #3rd class
p_1class = len(df_1class)/len(df) #1st class

In [16]:
#conditional features
df_survboy = df_survive[(df['sex'] == 'male') & (df['age'] < 18)] #boys that survived
df_survwomen = df_survive[(df['sex'] == 'female') & (df['age'] >= 18)]
df_survmen = df_survive[(df['sex'] == 'male') & (df['age'] >= 18)] 

df_surv2class = df_survive[df['pclass'] == 2] #2nd class survivors
df_surv3class = df_survive[df['pclass'] == 3] #1st class survivors
df_surv1class = df_survive[df['pclass'] == 1] #3rd class survivors

/Users/marthajones/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/Users/marthajones/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/marthajones/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/Users/marthajones/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/Users/marthajones/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys
/Users/marthajones/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [17]:
#probability of conditional features give that they will survived

p_survboy = len(df_survboy)/len(df_survive)
p_survwomen = len(df_survwomen)/len(df_survive)
p_survmen = len(df_survmen)/len(df_survive)

p_surv2class = len(df_surv2class)/len(df_survive)
p_surv3class = len(df_surv1class)/len(df_survive)
p_surv1class = len(df_surv3class)/len(df_survive)

In [21]:
#probability of surival given features

p_survB2 = ((p_survive)* p_survboy * p_surv2class)/(p_boy * p_2class)
p_survW3 = ((p_survive)* p_survwomen * p_surv3class) / (p_women * p_3class)
psurvM1 = ((p_survive)* p_survmen * p_surv1class) / (p_men * p_1class)

In [25]:
#probability of a boy in 2nd class surviving
print(p_survB2*100)

42.51915998943382

In [26]:
#probability of a woman in 3rd class surviving
print(p_survW3*100)

51.18353359161593

In [27]:
#probability of a man in 1st class surviving
print(psurvM1*100)

29.269005847953217